.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    font-size: 25px;
    font-family: "Berlin Sans FB";
    background-color: #f5c387;
    color: #916b3d;

}
a{
    color: #916b3d;
}
.out{
    color: red;
}